name: Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-24.04
    environment: production
    steps:
      - name: deploy
        run: |
          echo 'deploy!'
